.publish-btn {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
}


p {
    margin: 0;
}


.add-icon {
    filter: invert(100);
    float: right;
    margin-right: 1.5em;
}

.add-icon:hover {
    cursor: pointer;
}

.option {
    padding: 1.5em;
    font-size: 1.5em;
    display: flex;
}


.option > svg {
    filter: invert(100%);
    margin-right: 0;
    margin-left: auto;
}

.option > *:hover {
    cursor: pointer;
}

#poll-title {
    margin: 2em;
    border-bottom: 5px white solid;
    width: calc(100%-3em);
}

#poll-title > input {
    font-size: 2em;
    width: 100%;
    border: none;
    margin-bottom: 0.2em;
    display: none;
}

.main-content > h1:hover {
    cursor: pointer;
}