:root {
    --primary-color: #0A1128;
    --secondary-color: #B4C5E4;
    --logo-bg: #A3B5D7;
    --option-1-color: #FF999B;
    --option-2-color: #6AF090;
    --option-3-color: #F0C256;
    --option-4-color: #CDF3D4;
    --option-5-color: #68ACE2;
    --danger-color: #C84630;
    --danger-stroke-color: #841806;
    --common-color: #5DA271;
    --common-stroke-color: #0F6F2B;
}
  

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #0A1128;
    font-family: 'Inter', sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    background-color: #B4C5E4;
    height:8vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}
    .nav-bar > * {
        font-size: 4vh;
    }

    .nav-bar > .title,
    .nav-bar > .user-welcome,
    .nav-bar > .create-btn {
        text-transform: capitalize;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar > * {
        border-right: 2px var(--logo-bg) solid;
    }
    .nav-bar > *:first-child,
    .nav-bar > *:last-child {
        border-right: none;
    }

    .create-btn > svg{
        filter: invert(100%);
        margin-left: 0.5em;
    }
    .nav-bar > .title {
        
        margin-right: 0em;
        margin-left: auto;
    }
    .nav-bar > .logo {
        width: 8vh;
        height: 100%;
        font-size: 2.5vh;
        background-color: #A3B5D7;
        text-align: center;
    }
        .nav-bar > .logo > * {
            position: relative;
            top: 35%;
            margin: 0;
        }

.box {
    background-color: #B4C5E4;
    border-bottom: 4px solid #0B226B;
    color: white;
    padding: 2em 1.5em;
    border-radius: 7px;
}

.btn-common {
    background-color: #5DA271;
    border-bottom: 2px solid #0F6F2B;
    color: white;
    padding: 3px 15px;
    border-radius: 5px;
    width: fit-content;
}

.btn-common:hover {
    cursor: pointer;
}

.btn-danger {
    background-color: #C84630;
    border-bottom: 2px solid #841806;
    padding: 3px 15px;
    width: fit-content;
    border-radius: 5px;
}

.btn-danger:hover {
    cursor: pointer;
}