
.poll {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
}

.poll-view > .options {
    display: grid;
    align-items: center;
    grid-column-gap: 0.5em;
    grid-template-columns: max-content auto min-content;
}

.poll-view {
    display: none;
}

.options > h3 { 
    max-width: 20vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.options > .last-item {
    text-align: end;
}

.btn-control {
    display: flex;
    justify-content: flex-end;
}

.btn-control > *  {
    margin-left: 1em;
}

.poll-info {
    display: flex;
    border-bottom: 5px solid white;
}

.poll-info:hover {
    cursor: pointer;
}

.poll-info > h3:last-child {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.mbl-date {
    display: none;
}

.poll-bar {
    height: 2em;
    width: calc((var(--size, 1))*1%);
}
