@media only screen and (max-width: 900px) {
    :root {
        --max-poll-bar-size : 70vw
    }
}

@media only screen and (max-width: 650px) {
    :root {
        --max-poll-bar-size : 60vw
    }

    .option > h3 {
        max-width: 50%;
    }

    
    .poll-info > h3:last-child{
        display: none;
   }

   .mbl-date {
        display: block;
   }
}

@media only screen and (max-width: 500px) {
    :root {
        --max-poll-bar-size : 50vw
    }
}

@media only screen and (max-width: 450px) {
    :root {
        --max-poll-bar-size : 50vw
    }
}

