.profile-preview {
    border-radius: 50%;
    width: 30em;
    height: 30em;
    background-color: var(--secondary-color);
    display: inline-grid;
    place-content: center;
}

.profile-preview:hover {
    cursor: pointer;
}

.profile-preview > div {
    width: 28em;
    border-radius: 50%;
    text-align: center;
    height: 28em;
    border: 5px dashed white;
    display: inline-grid;
    place-content: center;
}

.profile-preview--over {
    background-color: var(--logo-bg);
}

.profile-preview--over > div {
    border: 5px solid white;
}

.profile-input > * > input {
    display: none;
}

.profile-input > * > h2 {
    text-align: center;
    margin-bottom: 1em;
}
.profile-input {
    display: inline-grid;
    place-content: center;
    width: 50%;
    height: 100%;
}

#profile-error {
    display: flex;
    border-bottom: none !important;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}