@media only screen and (max-width: 1000px) {
    .results {
        width: 80%;
    }
    .option > h3 {
        font-size: 1.5em;
    }

        .results > h1 {
        font-size: 1.5em;
    }

    .option > div > .poll-bar {
        width: 5em;
    }
}

@media only screen and (max-width: 600px) {
    .results {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .option > h3 {
        font-size: 1em;
    }

        .results > h1 {
        font-size: 1.5em;
    }

    .option > div > .poll-bar {
        width: 3.5em;
    }
}
